In [34]:
 # import the date and time library
import datetime
d1 = datetime.date(2016,11,24)
d2 = datetime.date(2017,10,24)
max(d1, d2)

datetime.date(2017, 10, 24)

In [35]:
# to print the duration btw both years
print(d2 - d1)

334 days, 0:00:00

In [36]:
century_start = datetime.date(2000,1,1)
today = datetime.date.today()
print(century_start, today)
print("We are", today-century_start, "days into the century")

2000-01-01 2019-11-19
We are 7262 days, 0:00:00 days into the century

In [37]:
# for a cleaner output
print("We are", (today-century_start).days, "days into the century")

We are 7262 days into the century

In [38]:
# for datetime.datetime output i.e. includes the date and time equally
century_start = datetime.datetime(2000,1,1,0,0,0)
time_now = datetime.datetime.now()
print(century_start, time_now)
print("We are", time_now-century_start, "days, hours, minutes and seconds into this century")

2000-01-01 00:00:00 2019-11-19 01:26:06.121217
We are 7262 days, 1:26:06.121217 days, hours, minutes and seconds into this century

In [39]:
# to use datetime objects to check validity
#some_date = datetime.date(2015,2,29)
some_date1 = datetime.date(2016,2,29)
#some_date2 = datetime.date(2015,2,28,23,60,0)

In [40]:
#datetime.timedelta function is used to store the duration btw two points in time

century_start = datetime.datetime(2000,1,1,0,0,0)
time_now = datetime.datetime.now()
time_since_century_start = time_now-century_start
print("days since century start", time_since_century_start.days)
print("seconds since century start", time_since_century_start.total_seconds())
print("minutes since century start", time_since_century_start.total_seconds()/60)
print("hours since century start", time_since_century_start.total_seconds()/60/60)

days since century start 7262
seconds since century start 627441967.338613
minutes since century start 10457366.122310217
hours since century start 174289.43537183697

In [41]:
# datetime.time is used to print the present time

date_and_time_now = datetime.datetime.now()
time_now = date_and_time_now.time()
print(time_now)

01:26:08.417789

In [42]:
# doing arithmetic operations on datetime objects
#using timedelta to calculate new dates or times from a given date

today = datetime.date.today()
five_days_later = today+datetime.timedelta(days=5)
print(five_days_later)

2019-11-24

In [43]:
now= datetime.datetime.today()
five_minutes_and_five_seconds_later = now + datetime.timedelta(minutes = 5, seconds = 5)
print(five_minutes_and_five_seconds_later)

2019-11-19 01:31:14.717532

In [44]:
now = datetime.datetime.today()
five_minutes_and_five_seconds_earlier = now + datetime.timedelta(minutes = -5, seconds = -5)
print(five_minutes_and_five_seconds_earlier)

2019-11-19 01:21:05.301708

In [45]:
# converting datetime to string

#More often than not, the program will need to get the date or time from a string:
    # from a website (bus/traing timings)
    # from a file (date or datetime associated with a stock price)
    # from the user (from an input statement)

# Python needs to parse the string so that it correctly creates a date or time object

#datetime.strptime
    # datetime.strptime(): grabs time from a string and creates a date or datetime or time object
    # the programmer reads to tell the function what format the string is using
    # see http://pubs.opengroup.org/onlinepubs/00695399/functions/strptime.html for how to specify the format

date = "01-Apr-03"
date_object = datetime.datetime.strptime(date, '%d-%b-%y') # changes the date to the computer language
print(date_object)

2003-04-01 00:00:00

In [46]:
# for timedelta, we've to be creative to the above. To convert the inputted time from a string for useful data analysis
bus_travel_time = '2:15:30'
hours, minutes, seconds = bus_travel_time.split(':')
x = datetime.timedelta(hours = int(hours), minutes = int(minutes), seconds = int(seconds))
print(x)

2:15:30

In [47]:
# or we write a function to do this for a particular format

def get_timedelta (time_string):
    hours, minutes, seconds, = time_string(':')
    import datetime
    return datetime.timedelta(hours = int(hours), minutes = int(minutes), seconds = int(seconds))

In [48]:
# datetime.strftime
    # the strftime function flips the strptime function. it converts a datetime object to a string with the specified format

now = datetime.datetime.now()
string_now = datetime.datetime.strftime(now, '%n/%d/%y %H:%M:%S')
print(now, string_now)
print(str(now))

2019-11-19 01:26:12.579715
/19/19 01:26:12
2019-11-19 01:26:12.579715

In [50]:
# Bucketing timing. The "sample_data.csv" contains start times and processing times for all complaints registered with New York City's
# ... 311 complaint hotline on 01/10/2016. Our goal is to compute THE AVERAGE PROCESSING TIME for each hourly bucket.

# Read data

data_tuples = list()
with open ('sample_data.csv', 'r') as f:
    for line in f:
        data_tuples.append(line.strip().split(','))

In [51]:
# seeing the first 10 lines
data_tuples[0:10]

# element 1 of the list is a date insinde a string
# element 2 of the list is a double inside a string

[['2016-01-01 00:00:09', '0.0815162037037037'],
 ['2016-01-01 00:00:40', '0.1334837962962963'],
 ['2016-01-01 00:01:09', '20.388726851851853'],
 ['2016-01-01 00:02:59', '0.9811458333333334'],
 ['2016-01-01 00:03:03', '7.048576388888889'],
 ['2016-01-01 00:03:03', '0.1400810185185185'],
 ['2016-01-01 00:03:29', '0.11086805555555555'],
 ['2016-01-01 00:04:06', '0.016967592592592593'],
 ['2016-01-01 00:04:37', '0.1597222222222222'],
 ['2016-01-01 00:04:56', '2.996585648148148']]

In [56]:
# converting them by figuring out the format string

x = '2016-01-01 00:00:09'
format_str = '%Y-%m-%d %H:%M:%S'
datetime.datetime.strptime(x,format_str)

datetime.datetime(2016, 1, 1, 0, 0, 9)

In [61]:
# iterating through the list of elements
data_tuples = list()
with open ('sample_data.csv', 'r') as f:
    for line in f:
        data_tuples.append(line.strip().split(','))

for i in range(0,len(data_tuples)):
    data_tuples[i][0] = datetime.datetime.strptime(data_tuples [i][0], format_str)
    data_tuples[i][1] = float(data_tuples[i][1])

In [62]:
#printing the first 10 elements again to see the effect of the above command
data_tuples[0:10]

[[datetime.datetime(2016, 1, 1, 0, 0, 9), 0.0815162037037037],
 [datetime.datetime(2016, 1, 1, 0, 0, 40), 0.1334837962962963],
 [datetime.datetime(2016, 1, 1, 0, 1, 9), 20.388726851851853],
 [datetime.datetime(2016, 1, 1, 0, 2, 59), 0.9811458333333334],
 [datetime.datetime(2016, 1, 1, 0, 3, 3), 7.048576388888889],
 [datetime.datetime(2016, 1, 1, 0, 3, 3), 0.1400810185185185],
 [datetime.datetime(2016, 1, 1, 0, 3, 29), 0.11086805555555555],
 [datetime.datetime(2016, 1, 1, 0, 4, 6), 0.016967592592592593],
 [datetime.datetime(2016, 1, 1, 0, 4, 37), 0.1597222222222222],
 [datetime.datetime(2016, 1, 1, 0, 4, 56), 2.996585648148148]]

In [64]:
# replacing the datetime by hourly buckets

x = data_tuples[0][0]
x.hour

0

In [69]:
# using list comprehension to bucket the data

data_tuples = ((x[0].hour, x[1]) for x in data_tuples)